<section class="{{ page.video.bg_class }}">
  <div class="container pt-15 pt-md-17 position-relative">
    <figure class="rounded mt-n21 mt-lg-n23 position-relative" data-cues="fadeIn" data-delay="250">
      <a href="https://player.vimeo.com/video/{{ page.video.vimeo_id }}"
         class="btn btn-circle btn-white btn-play ripple mx-auto position-absolute glightbox"
         style="top:50%; left: 50%; transform: translate(-50%,-50%); z-index:3;"
         data-glightbox="type: video">
        <i class="icn-caret-right"></i>
      </a>

      <img class="w-100 rounded caption-overlay d-block"
           src="{{ page.video.poster }}"
           alt="{{ page.video.alt | default: 'Video' }}">
    </figure>
  </div>
</section>