<section class="{{ page.video.bg_class }}">
    <div class="container pt-15 pt-md-17 position-relative">
        <figure class="rounded mt-n21 mt-lg-n23 position-relative" data-cues="fadeIn" data-delay="250">
            <div class="ratio ratio-16x9 rounded overflow-hidden">
                <iframe title="vimeo-player"
                        src="https://player.vimeo.com/video/704880862?h=fea84ae9db&autoplay=1&loop=1&muted=1&autopause=0&title=0&byline=0&portrait=0"
                        frameborder="0" referrerpolicy="strict-origin-when-cross-origin"
                        allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media; web-share"
                        allowfullscreen></iframe>
            </div>
        </figure>
    </div>
</section>